<br/>
<% form_for(@watched) do |f| %>
  <%= f.error_messages %>

  <p>
    <% if !@watched.comment || @watched.comment == "" %>
		<p style="font-size:14pt">Add your comment...</p>
	<% else %>
		<p style="font-size:14pt">Edit your comment...</p>
	<% end %>

    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @watched %> |
<%= link_to 'Back', watcheds_path %>