
<% if Watched.find(:all, :conditions => ['user_id = ?', @current_user_id]).length == 0 %>
	
	<br/><br/><br/>
	<p style="font-size:16pt">You have not added any movies to your watched list yet.</p>
	<p style="font-size:16pt">Click <%= link_to "here", movies_path %> to add one now.</p>
	
<% else %>

	<h1>Movies I have seen:</h1>
	
	<div align="left" style="width:700px">
		<% form_tag watcheds_path, :method => 'get' do %>
			<%= select_tag "alpha", "<option>Alphabetical</option><option>Recently viewed</option>" %>
			<%= submit_tag "Go", :name => nil %>
		<% end %>
	</div><br/>
	
	<table style="border:solid; border-width:1px; text-align:center">
		<tr><td><br/></td></tr>
		<% for watched in @my_watched do %>
		
			<% movie = Movie.find_by_imdb_id(watched.imdb_id) %>
			
			<% if @number_in_row % 5 == 0 %>
				<tr>
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %>
						<% @last_five <<  movie.title %>
						<% @last_five << watched %>
					</td>
			<% elsif @number_in_row % 5 == 4 %>
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %>
						<% @last_five <<  movie.title %>
						<% @last_five << watched %>
					</td>
				</tr>
				<% @last_five.reverse! %>
				<tr>
					<% for elem in 1..5 do %>
						<td><%= link_to @last_five.pop, @last_five.pop %><br/><br/></td>
					<% end %>
				</tr>
				<% @last_five = [] %>
			<% else %>
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %>
						<% @last_five <<  movie.title %>
						<% @last_five << watched %>
					</td>
			<% end %>
						
			<% @number_in_row += 1 %>
		<% end %>
		
		<% if @number_in_row % 5 != 4 %>
			</tr>
			<% @last_five.reverse! %>
			<tr>
				<% for elem in 1..(@last_five.length/2) do %>
					<td><%= link_to @last_five.pop, @last_five.pop %><br/><br/></td>
				<% end %>
			</tr>
			<% @last_five = [] %>
		<% end %>
		
	</table>
		
<% end %>

<br/>