
<% if Watched.find(:all, :conditions => ['user_id = ?', @current_user_id]).length == 0 %>
	
	<br/><br/><br/>
	<p style="font-size:16pt">You have not added any movies to your watched list yet.</p>
	<p style="font-size:16pt">Click <%= link_to "here", movies_path %> to add one now.</p>
	
<% else %>

	<h1>Movies I have seen:</h1><br/>
	
	<table style="border:solid; border-width:1px; text-align:center">
		
		<% for watched in @my_watched do %>
		
			<% movie = Movie.find_by_imdb_id(watched.imdb_id) %>
			
			<% if @number_in_row % 5 == 0 %>
				<tr height="200px">
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %><br/>
						<%= link_to movie.title, watched %>
					</td>
			<% elsif @number_in_row % 5 == 4 %>
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %><br/>
						<%= link_to movie.title, watched %>
					</td>
				</tr>
			<% else %>
					<td width="150px">
						<%= link_to image_tag(movie.thumb_img_url, :border => 0), watched %><br/>
						<%= link_to movie.title, watched %>
					</td>
			<% end %>
						
			<% @number_in_row += 1 %>
		<% end %>
		
		<% if @number_in_row % 5 != 4 %>
			</tr>
		<% end %>
		
	</table>
		
<% end %>

<br/>