<h1>Search for a movie</h1>

<% form_tag movies_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
<br/><br/>
<% if @results %>
	<table style="border:solid; border-width:1px; text-align:center">
		
		<% form_tag :action => "update_movies_and_watched", :method => :put do %>
		
			<tr align="center" height="50px">
				<td><%= submit_tag "Seen it!" %></td>
				<td><b>Title</b></td>
				<td></td>
				<td><b>Plot overview</b></td>
				<td><b>Release date</b></td>
			</tr>
		
			<% @results.each do |result| %>
			
				<% if result.imdb_id != "" && !@imdb_ids_displayed.include?(result.imdb_id)%>

					<tr height="160px">				
						<td width="80">
							<% if result.posters[0] && result.posters[0]['original'] %>
								<% @original_img = result.posters[0]['original'] %>
							<% end %>
							
							<% if result.posters[0] && result.posters[0]['thumb'] %>
								<% @thumb_img = result.posters[0]['thumb'] %>
							<% end %>
							
							<% already_seen = Watched.find(:all, :conditions => ['imdb_id = ? AND user_id = ?', result.imdb_id, @current_user_id]) %>
							<% puts already_seen.length %>
							
							<% if already_seen.length > 0 %>
								<%= image_tag "check_mark.jpg" %>
							<% else %>
								<%= check_box_tag "seen_movies[]", result.name+"@@"+result.imdb_id+"@@"+result.released.to_s+"@@"+result.overview+"@@"+@original_img+"@@"+@thumb_img%>
							<% end %>
						</td>
						<td>
							<%= link_to result.name, @imdb_base_url+result.imdb_id+"/"%>
						</td>				
						<td>
							<% if result.posters[0] == nil || result.posters[0]['thumb'] == nil %>
							 	No image<br/>available.
							<% else %>
								<%= link_to image_tag(result.posters[0]['thumb'], :border => 0), @imdb_base_url+result.imdb_id+"/" %>
							<% end %>
						</td>
						<td>
							<%= result.overview %> <br/>
						</td>
						<td>
							<% if result.released != nil && result.released.class != String %>
								<%= result.released.to_date.strftime("%B %d, %Y") %>
							<% end %>
						</td>
					</tr>
					
					<% @imdb_ids_displayed << result.imdb_id %>
					
				<% end %>
			
			<% end %>

		<% end %>

	</table>
<% else %>
	<p style="font-size:20pt">Enter the title of a movie and click search!</p>
<% end %>

<br/>
<br/>
<p style="font-size:16pt"><u><b>Recently watched movies:</b></u></p>

<table style="text-align:center" >
	
	<% if @watched.length == 0 %>
		<tr>
			<td><p style="font-size:14pt">No movies have been watched recently.</p></td>
		</tr>
	<% elsif @watched.length < 5 %>
		<tr>
			<% for watch in @watched.reverse do %>
				<% movie = Movie.find_by_imdb_id(watch.imdb_id) %>
				<td><%= link_to image_tag(movie.thumb_img_url, :border => 0), @imdb_base_url+movie.imdb_id+"/" %></td>
			<% end %>
		</tr>
		<tr>
			<% for watch in @watched.reverse do %>
				<% movie = Movie.find_by_imdb_id(watch.imdb_id) %>
				<td width="200px"><%= link_to movie.title, @imdb_base_url+movie.imdb_id+"/" %></td>
			<% end %>
		</tr>
	<% else %>
		<tr>
			<% for count in 0..4 do %>
				<% movie = Movie.find_by_imdb_id(@watched.reverse[count].imdb_id) %>
				<td><%= link_to image_tag(movie.thumb_img_url, :border => 0), @imdb_base_url+movie.imdb_id+"/" %></td>
			<% end %>
		</tr>
		<tr>
			<% for count in 0..4 do %>
				<% movie = Movie.find_by_imdb_id(@watched.reverse[count].imdb_id) %>
				<td width="200px"><%= link_to movie.title, @imdb_base_url+movie.imdb_id+"/" %></td>
			<% end %>
		</tr>
	<% end %>
	
</table>

<br/>
