<h1>Search for a movie</h1>

<% form_tag movies_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<% if @results %>
	<table style="border:solid; border-width:1px;>
		
		<tr align="center">
			<td></td>
			<td><b>Title</b></td>
			<td></td>
			<td><b>Plot overview</b></td>
			<td><b>Release date</b></td>
		</tr>
		
		<% @results.each do |result| %>
		
			<tr>
				
				<td>
					
				</td>
				<td>
					<%= link_to result.name, @imdb_base_url+result.imdb_id+"/"%>
				</td>				
				<td>
					<% if result.posters[0] == nil || result.posters[0]['thumb'] == nil %>
					 	No image<br/>available.
					<% else %>
						<img src=<%= result.posters[0]['thumb'] %> />
					<% end %>
				</td>
				<td>
					<%= result.overview %> <br/>
				</td>
				<td>
					<% puts result.released.class %>
					<% if result.released != nil && result.released.class != String %>
						<%= result.released.to_date.strftime("%B %d, %Y") %>
					<% end %>
				</td>
			
			</tr>

		<% end %>
	</table>
<% else %>
	<p>No results, sorry!</p>
<% end %>

<br />
