<br/><h1>Sign up!</h1>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% form_for @user do |f| %>
  <%= f.error_messages %>
	<table cellpadding="5px">
		
		<tr>
	  		<td><%= f.label :username, nil, :class => 'entrylabel' %></td>
			<td><%= f.text_field :username, :class => 'entryfield' %></td>
		</tr>
		<tr>
			<td><%= f.label :email, "Email Address", :class => 'entrylabel' %></td>
			<td><%= f.text_field :email, :class => 'entryfield' %></td>
		</tr>
		<tr>
			<td><%= f.label :password, nil, :class => 'entrylabel' %></td>
			<td><%= f.password_field :password, :class => 'entryfield' %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Confirm Password", :class => 'entrylabel' %></td>
			<td><%= f.password_field :password_confirmation, :class => 'entryfield' %></td>
		</tr>
		<tr>
			<td><%= f.label :first_name, nil, :class => 'entrylabel' %></td>
			<td><%= f.text_field :first_name, :class => 'entryfield' %></td>
		</tr>
		<tr>
			<td><%= f.label :last_name, nil, :class => 'entrylabel' %></td>
			<td><%= f.text_field :last_name, :class => 'entryfield' %></td>
		</tr>

	</table>
  <p><%= f.submit "Sign up" %></p><br/>
<% end %>
