<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Watcheds: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div align="center">
	<p style="color:green; font-size:12pt"><%= flash[:notice] %></p>
</div>

<div align="center">
	
	<div align="center" style="width:760px">
		<table style="text-align:center">
			<tr>
				<td style="width:250px">
					<div style="width:200px; height:38px">
						<%= link_to image_tag("search_img.png", :border => 0,  :onmouseover => "this.src='/images/search_img_mo.png'", :onmouseout => "this.src='/images/search_img.png'"), movies_path %>
					</div>
				</td>
				<td style="width:250px">
					<div style="width:200px; height:38px">
						<%= link_to image_tag("myviewed_img.png", :border => 0,  :onmouseover => "this.src='/images/myviewed_img_mo.png'", :onmouseout => "this.src='/images/myviewed_img.png'"), viewedmovies_path %>
					</div>
				</td>
				<td style="width:250px">
					<div style="width:200px; height:50px; background-color:rgb(124,128,151); color:white; text-align:center">
						<% if logged_in? %>
						<p>
							Hey <%= current_user.username %><br/>
							Click here to <%= link_to "Logout", logout_path, :class => 'logout' %>
						</p>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	</div><br/>
	
	<div style="width:760px">
		
		<%= yield %>
		
	</div>
	
</div>

</body>
</html>
