<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Watcheds: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<div align="center">
	
	<div align="center" style="width:760px">
		<table style="text-align:center">
			<tr>
				<td style="width:250px">
					<%= link_to "Search for a Movie", movies_path %>
				</td>
				<td style="width:250px">
					<%= link_to "My Viewed Movies", viewedmovies_path %>
				</td>
				<td style="width:250px">
					<% if logged_in? %>
					<p>
						You are logged in as <%= current_user.username %><br/>
						Click here to <%= link_to "Logout", logout_path %>
					</p>
					<% end %>
				</td>
			</tr>
		</table>
	</div><br/>
	
	<div style="width:760px">
		
		<%= yield %>
		
	</div>
	
</div>

</body>
</html>
